.conteudo__principal    {
    display: flex;

    margin-bottom: 50px;

    margin-left: auto;

    margin-right: auto;

    margin-top: 35px;

    width: 1250px
}

/* Seção jornalismo */

.jornalismo {
    width: 664px;
}

.jornalismo__materiaPrincipal   {
    color: #C4160C;

    font-size: 52px;

    font-weight: 700;

    line-height: 67px;

    padding-bottom: 20px;
}

.jornalismo__materiaSecundaria  {
    color: #303134;

    font-size: 18px;

    font-weight: 500;
}

.espacamentoMateriasSecundarias{
    padding-bottom: 10px;
}

.jornalismo__barraHorizontal    {
    background: #EBEDEF;

    height: 1px;

    margin-top: 30px;

    width: 624px;
}

.jornalismo__linhaDois, .jornalismo__linhaTres  {
    display: flex;

    margin-top: 25px;
}

.espamentoNoticiasJornalismo    {
    margin-left: 25px;

    margin-right: 25px;
}

.jornalismo__noticia    {
    width: 193px;
}

.jornalismo__noticia___imagem   {
    border-radius: 12px;

    height: 110px;

    width: 193px;
}

.jornalismo__noticia___legenda  {
    color: #C4170C;

    font-size: 14px;

    font-weight: 500;

    padding-top: 10px;
}

.jornalismo__noticia___manchete, .esporte__noticia___manchete, .entretenimento__noticia___manchete {
    color: #2F3134;

    font-size: 20px;

    font-weight: 700;

    line-height: 25px;

    padding-top: 10px;
}

.jornalismo__noticia___complemento, .esporte__noticia___complemento, .entretenimento__noticia___complemento  {
    color: #2F3134;

    font-size: 14px;

    font-weight: 400;

    line-height: 19px;

    padding-top: 10px;
}

.barra__vertical    {
    background: #EBEDEF;

    height: 810px;

    width: 1px;
}

/* Seção esporte */

.esporte {
    width: 309px;
}

.esporte__noticia   {
    margin: 0 auto;

    width: 240px;
}

.esporte__noticia___imagem  {
    border-radius: 12px;

    height: 128px;

    width: 240px;
}

.esporte__noticia___legenda {
    color: #16AE54;

    font-size: 14px;

    font-weight: 500;

    padding-top: 10px;
}

.espamentoNoticiasEsporte   {
    margin-bottom: 30px;

    margin-top: 40px;
}

/* Seção entretenimento */

.entretenimento {
    align-items: flex-end;

    display: flex;

    flex-direction: column;

    width: 275px;
}

.entretenimento__noticia    {
    width: 240px;
}

.entretenimento__noticia___imagem   {
    border-radius: 12px;

    height: 122px;

    width: 240px;
}

.entretenimento__noticia___legenda  {
    color: #EC8006;

    font-size: 14px;

    font-weight: 500;

    padding-top: 10px;
}

.espamentoNoticiasEntretenimento    {
    margin-bottom: 50px;

    margin-top: 50px;
}

/* Tirando os undelines dos links */

.noticiaLink    {
    text-decoration: none;
}